@import "tailwindcss";

@layer base {
    @font-face {
        font-family: 'Navbar-PrimaryFont';
        src: url('/fonts/MedievalMystery.woff2') format('woff2');
        font-weight: normal;
    }
    
    @font-face {
        font-family: 'Navbar-SecondaryFont';
        src: url('/fonts/Swordsman.woff2') format('woff2');
        font-weight: normal;
    }
}

@theme {
    --font-primary: 'Navbar-PrimaryFont', sans-serif;
    --font-secondary: 'Navbar-SecondaryFont', serif;

}